- if big
  %h2
    %a{:href => cwork.href}= cwork.title
- else
  %h3
    %a{:href => cwork.href}= cwork.title
%h5.date
  = cwork.created_date
%p= cwork.description
- begin
  - if cwork.about
    %div.taglist
      - cwork.about.each do |about|
        %a.about{:href => about.href}= about
- rescue => e
  %div.taglist
    %div An error occurred processing tags.