- if big
  %h2
    %a{:href => cwork.href}= cwork.title
- else
  %h3
    %a{:href => cwork.href}= cwork.title
%h5.date
  = cwork.date
%p= cwork.description
- if cwork.about && cwork.about.class == Array
  %div.taglist
    - cwork.about.each do |about|
      %a.about{:href => about.href}= about
