- if big
  %h2
    %a{:href => cwork.url}= cwork.title
- else
  %h3
    %a{:href => cwork.url}= cwork.title
%h5.date
  = cwork.created_date
%p= cwork.description
%div.taglist
  - if cwork.about
    - cwork.about.each do |tag|
      %a.about{:href => "/about/#{tag.guid}"}= tag
  